html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header{
    display:flex;
    justify-content:center;
    padding:10px;
}

#add-btn {
    text-decoration: none;
    padding: 10px 15px 12px 15px;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    border-radius:3px;
}

#btn-container{
    display:flex;
    justify-content:end;
}
#pendente {
   
    color: yellow;
    
}
#vencido {
    
    color: red;
    
}

#valido {
    
    color:greenyellow;
   
    
    
}



