html {
    font-size: 14px;
    background-color: #f6f6f6;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f6f6f6;
}

td{
    vertical-align:middle;
}

header {
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 12px;
    margin-top: 30px;
    justify-content: space-between;
    color: white;
    background-color: #1e1e1e;
    border-radius:5px 5px 0 0;
}

#add-btn {
    text-decoration: none;
    padding: 3px;
    color: #fff;
    font-weight:600;
    border: 2px solid #fff;
    border-radius: 5px;
}


#btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#pendente {
    color: yellow;
    margin-bottom: 0;
    background-color:yellow;
}
#vencido {
    color: red;
    margin-bottom: 0;
    background-color:red;
}


#valido {
    color: greenyellow;
    margin-bottom: 0;
    background-color: greenyellow;
}
.table{
    background-color:white;
    padding:16px;

}

#details{
    text-decoration:none;
}
.status{
    width:12px;
    height:12px;
    border-radius:100%;
    margin-left:15px;
}

.container-table {
    border: 1px solid #3b3b3b;
    background-color: #1e1e1e;
    border-radius: 0 0 5px 5px;
}

.pad-right{
    padding-right:10px;
}
.pad-left{
    padding-left:10px;
}
